<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lqz.mymap">

    <!--访问互联网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--模糊定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--高精度定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>